---
import "@picocss/pico/css/pico.classless.indigo.min.css"
---
<html lang="en" data-theme="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<main>
		    <slot />
		</main>
	</body>

	<script>
	const boxes = document.querySelectorAll('input[type="checkbox"]');

	for (const box of boxes) {
		box.removeAttribute('disabled');
	}
	</script>
</html>
